@(m: repository.PageContent)

<div id="menustein">
	<div id="menustein_oben"></div>
	<div id="menustein_mitte">
		<div id="menustein_inhalt">
			<div id="ed_logo"></div>
			<div id="user">
				<div id="login_button">Anmelden</div>
				<div class="greeting">Den Passionen zum Grusse,</div><div class="username">Sorokan</div>
				
			</div>
			<div id="search"><div class="search_icon"></div><input type="text"/></div>
			<div id="menu">@Html(m.html)</div>
		</div>
	</div>
	<div id="menustein_unten">
		<div class="blood"></div>
	</div>
</div>
